/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
  }

  /* Google logo styles */
  #logo {
    display: block;
    margin: 218px auto 32px;
    background-image: url("https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png");
    background-repeat: no-repeat;
    width: 272px;
    height: 92px;
  }

  #image-logo {
    display: block;
    margin: 235px auto 32px;
    background-image: url("https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png");
    background-repeat: no-repeat;
    width: 272px;
    height: 92px;
  }
span{
    color: #4285f4;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-variant-alternates: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 16px;
    line-height: 16px;
    font-family: roboto-regular, arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  /* Search box styles */
  #search-box {
    text-align: center;
    margin-bottom: 32px;
  }

  #search-input {
    padding: 8px;
    width: 500px;
    max-width: 90%;
    font-size: 16px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 15px;
    outline: none;
  }

  /* Search buttons container */
  #search-buttons {
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }

  /* Search button styles */
  .search-button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
    margin: 0 8px;
  }

  .search-button:hover{
    box-shadow: 20px;
  }

  /* Footer styles */
  footer {
    text-align: center;
    margin-top: 64px;
    color: #555;
  }
.pages{
    text-align: center; 
    display:block;
    text-decoration: none;
    color: black;
}

.pages:hover{
  text-decoration: underline;
}

li{
  display: inline-block;
  vertical-align: middle;
  padding-right: 15px;
  box-sizing: border-box;
  height: 48px;
  padding: 0 4px;
  padding-left: 30px;
  padding-top: 20px;
  justify-content: flex-end;
  flex: 0 0 auto;
  position:relative;
  z-index: 986;
  font-size: 14px;
  font-family: Roboto,arial,sans-serif;
}